/ TODO: add these as a table in the database so admin can create/publish/unpublish/etc

.navbar
	%ul
		%li
			%a
				SNPSHTGRL
		%li
			%a
				And Also With You
		%li
			%a
				ㅇㅅㅇ
		%li
			%a
				="-blue"
		%li
			%a
				Cosplay
		%li
			%a
				Dai Kinchō
		%li
			%a
				Info
		%li
			%a
				Contact
		%li
			%a
				Facebook
		%li
			%a
				Tumblr
		%li
			%a
				Following (6)